aiofiles==23.2.1
aioredis==2.0.1
aiosmtplib==2.0.2
azure-storage-blob==12.17.0
boto3==1.28.32
fastapi[all]==0.95.2
firebase-admin==6.2.0
httpx==0.24.1
loguru==0.7.0
motor==3.2.0
opencv-python-headless==4.8.0.76
orjson==3.9.5
pandas==1.4.3
pip-licenses==4.3.2
pybars3==0.9.7
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
sendgrid==6.10.0
twilio==8.5.0
user-agents==2.2.0
uvicorn==0.23.2
